/*
* nextjs 에서의 첫 페이지는 SSR로 작동하며 
* 이후 CSR로 화면을 렌더링하게 되는데, 이때 서버에서 받은 해시+클래스명과 이후 클라이언트에서 작동하는 해시+클래스 명이 달라지면서 스타일을 불러올수 없는 문제가 발생한다.
* npm i babel-plugin-styled-components 설치로 서버와 클라의 해시 + 클래스명을 일치시켜줄수있다.
*/
{
    "presets": ["next/babel"],
    "plugins": [
      [
        "babel-plugin-styled-components",
        { "fileName": true, "displayName": true, "pure": true }
      ]
    ]
}
